{% extends "template.html" %}

{% block content %}
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>Date</th>
                <th>Movie 1</th>
                <th>Movie 2</th>
                <th>Movie 3</th>
                <th>Movie 4</th>
                <th>Movie 5</th>
            </tr>
            {% for event in history|dictsort %}
            <tr>
                <td style="width: 100px"><b>{{ event[0] }}</b></td>
                {% for title in event[1][0] %}
                    {% if title -%}
                    {% if title == event[1][1] -%}
                    <td style="background: #66FF33">{{ title }}</td>
                    {% else %}
                    <td>{{ title }}</td>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tabe>
{% endblock %}