{% extends "template.html" %}

{% block content %}
        <h3>Rules of the movie nights</h3>
        <ol>
            <li>You don't talk about the movie nights.</li>
            <li>You <b>do not</b> talk about the movie nights.</li>
            <li>Every Thursday, pick a flick, turn up and watch it - that's it.</li>
            <li>President:
                <ol>
                    <li>Elected by members to preside for four weeks.</li>
                    <li>Determines whether excuses are valid or piss-poor (see Excuses and Multiplier sections below).</li>
                    <li>Responsible for movie night correspondence and admin during their term.</li>
                    <li>A period of at least two months must pass before presiding member is eligible once again.</li>
                    <li>You can only be elegible for a presidential mandate if your score is greater than 0.</li>
                    <li>No movie night must be left without El Presidente, if this happens all the present members who actually express their vote for the session will take a decision about the El Presidente bonus, increasing/decreasing it by ANY value; the score can be modified only from the following El Presidente</li>
                </ol>
            </li>
            <li>Excuses:
                <ol>
                    <li>President informed and determines if an excuse is valid (holiday, pee-pee fell off).</li>
                    <li>Piss-poor excuse results in a single point drop of multiplier (see Multiplier section).</li>
                </ol>
            </li>
            <li>Multiplier:
                <ol>
                    <li>President tracking current multiplier status and handing off to newly elected one.</li>
                    <li>Previous attendance increases movie selection voting multiplier by 1, up to a maximum of 5.</li>
                    <li>Intended to favour regularly attending members.</li>
                </ol>
            </li>
            <li>Movie list:
                <ol>
                    <li>Already fairly set as determined by the 'brain trust'.</li>
                    <li>We have enough entries in the list for the next few years (or something like that), but if you really <u>really</u> think we're missing something please inform the others.</li>
                    <li>Selection (Doodle) process completed one day before showing.</li>
                </ol>
            </li>
            <li>Movie selection:
                <ol>
                    <li>Occurs immediately after preceding showing.</li>
                    <li>A program picks 5 titles that haven't been showed in the past.</li>
                    <li>A movie can't make it to the list of candidates for 2 weeks after it's been a candidate.</li>
                    <li>Each attendee may vote for a single title.</li>
                </ol>
            </li>
            <li>Bear in mind it could get complicated if the group gets too big.  Furthermore, I refer you to rules number one and two.</li>
        </ol>
{% endblock %}
