{# {% extends "bootstrap/base.html" %} #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head -%}
    <title>{% block title -%}Movie Nights{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block style -%}
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <style type="text/css">
        p {
            font-family: "Cabin", arial, serif;
        }
    </style>
    {% endblock style %}
{% endblock head %}
</head>
<body>
    {% block navbar -%}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/home">Movie Nights</a>
            <ul class="nav">
            {% for entry in menu %}
                <li><a href="/{{ entry }}">{{ entry|capitalize }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endblock %}

    <div class="container" style="margin-top: 60px;">
    {% block content -%}{% endblock %}
    </div> <!-- /container -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>
